<!doctype html>
<html lang="en">
<h1> Welcome player </h1>
<!--Your quote for <%= @asset[0..5] %> is: bid:<%= @bid %> ask:<%= @ask %> Last trade at:<%= @last_trade_price %><br>-->
Live bid is: <p id="bid"></p> Live ask is: <p id="ask"></p>

<div id="images"></div>

<% if flash[:notice] && !flash[:notice].empty? %>
<%= flash[:notice] %>
<% end %>

<form action="/" method="post">
  <button name="sell" type="submit" id="sell" value="<%= @bid %>">Sell</button>
  <button name="buy" type="submit" id="buy" value="<%= @ask %> ">Buy</button>
</form>

<form action="/sign_out" method="post">
  <!--<button name="sign_in" type="submit" id="sign_in" value="sign_in">Log In</button>-->
  <button name="sign_out" type="submit" id="sign_out" value="sign_out">Sign Out</button>
</form>

<% if flash[:user_id] == nil %>

<h1>Please sign in</h1>

<form action="/login" method="post">
  Email: <input name="email" type="text" >
  Password: <input name="password" type="password">
  <input type="submit" value="Sign in">
</form>

<% end %>

<form action="/sign_up" method="post">
  <button name="sign_up" type="submit" id="sign_up" value="sign_up">Sign Up</button>
</form>

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="../js/quotes.js"></script>
<script src="../js/interface.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<div id="table_div"></div>

</html>
