<!doctype html>
<html lang="en">
<h1> Welcome player </h1>
Your quote for <%= @asset[0..5] %> is: bid:<span id="bid"><%= @bid %> </span>ask:<span id="ask"><%= @ask %></span><br> Last trade at:<%= @last_trade_price %><br>

<div id="images"></div>

<% if flash[:notice] && !flash[:notice].empty? %>
<%= flash[:notice] %>
<% end %>


<form action="/" method="post">
  <button name="buy" type="submit" id="buy" value="buy">Buy</button>
  <button name="sell" type="submit" id="sell" value="sell">Sell</button>
</form>  

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

</html>
